.about {
    height: 100px;
    padding: auto;
    margin-left: 2em;
    margin-right: auto;
}
.about-text {
    width: 500px;
    height: 61px;
    left: 152px;
    top: 561px;

   
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* or 15px */
    padding-block: 5px;

    color: #DCDCDC;

}
.about-tltle {
    width: 242.71px;
    height: 21px;
    left: 152px;
    top: 535px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */


    color: #F5F5F5;
}